*{

margin:0;
padding:0;
box-sizing:border-box;

}



body{

font-family:"Courier New", monospace;

color:white;

background:url("/tacocat2/images/background.jpg");

background-size:cover;

background-attachment:fixed;

}




section{

padding:100px 8%;

}




h2{

font-size:60px;

letter-spacing:8px;

text-transform:uppercase;

margin-bottom:20px;

}





/* HERO */

.hero{

height:100vh;

display:flex;

justify-content:space-between;

align-items:center;

}



.hero-title{

width:55%;

}



.hero-title h1{

font-size:90px;

line-height:.9;

letter-spacing:12px;

}



.hero-title p{

margin-top:40px;

font-size:22px;

line-height:1.6;

}




.scroll{

width:350px;

background:#d9c39a;

color:#2b2118;

padding:40px;

font-family:Georgia;

box-shadow:0 20px 40px black;

}







/* STORY */


.story{

background:rgba(0,0,0,.45);

}



.chapter-grid{

display:flex;

gap:30px;

margin-top:50px;

}



.chapter{

height:250px;

width:250px;

background:white;

color:black;

display:flex;

justify-content:center;

align-items:center;

font-size:25px;

border:5px solid #aaa;

transition:.3s;

}



.chapter:hover{

transform:translateY(-15px);

}







/* GALLERY */


.gallery{


background:rgba(0,0,0,.3);


}



.meme-row{

display:flex;

gap:30px;

margin-top:40px;

}



.meme{

height:220px;

width:220px;

background:white;

border:12px solid white;

box-shadow:0 10px 30px black;

}







/* CREW */


.crew{

background:rgba(0,0,0,.55);

}



.crew-box{

height:450px;

display:flex;

background:rgba(255,255,255,.1);

margin-top:40px;

}



.crew-image{

width:40%;

display:flex;

align-items:center;

justify-content:center;

background:#555;

}



.crew-info{

width:60%;

padding:60px;

font-size:22px;

line-height:1.8;

}







/* BEHIND */


.behind{

padding-bottom:150px;

}



.behind-box{

height:250px;

display:flex;

background:rgba(0,0,0,.6);

}



.behind-box div:first-child{

width:35%;

background:white;

color:black;

display:flex;

align-items:center;

justify-content:center;

}



.behind-box div:last-child{

padding:40px;

font-size:20px;

}
