*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Arial,Helvetica,sans-serif;

background:url("/images/background.jpg");

background-size:cover;

background-position:center;

background-attachment:fixed;

color:white;

}

section{

padding:120px 10%;

backdrop-filter:brightness(.95);

}

.hero{

height:100vh;

display:grid;

grid-template-columns:1fr 1fr;

align-items:center;

gap:80px;

}

.hero-left h1{

font-size:7rem;

line-height:.9;

letter-spacing:8px;

text-transform:uppercase;

}

.scroll{

background:#e9d9b8;

padding:50px;

border-radius:6px;

font-family:Georgia;

color:#2c2c2c;

box-shadow:0 20px 60px rgba(0,0,0,.5);

}

.subtitle{

margin-top:15px;

margin-bottom:40px;

font-size:1.2rem;

}

.chapter-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:35px;

}

.chapter-card{

text-decoration:none;

background:white;

color:black;

overflow:hidden;

transition:.35s;

}

.chapter-card:hover{

transform:translateY(-10px);

}

.chapter-image{

height:260px;

background:#999;

}

.chapter-card h3{

padding:25px;

}

.meme-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:35px;

}

.polaroid{

height:270px;

background:white;

border:12px solid white;

box-shadow:0 12px 35px rgba(0,0,0,.5);

transform:rotate(-2deg);

}

.crew-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:35px;

}

.crew-card{

height:280px;

border:2px solid white;

display:flex;

justify-content:center;

align-items:center;

background:rgba(255,255,255,.1);

transition:.3s;

}

.crew-card:hover{

background:white;

color:black;

transform:scale(1.05);

}

.behind{

display:grid;

grid-template-columns:40% 60%;

gap:50px;

margin-top:40px;

background:rgba(0,0,0,.55);

padding:40px;

}

.behind-photo{

background:white;

height:350px;

display:flex;

justify-content:center;

align-items:center;

color:black;

}

.behind-text{

font-size:1.2rem;

line-height:1.8;

}
